html {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    color: #fff;
    height: 100vh;
    background-color: #000000;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.container {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    overflow: hidden;
}

header {
    background-color: #000000;
    display: flex;
    top: 0px;
    height: 3rem;
    min-height: 4rem;
    width: 100%;
    left: 0;
}

.headerLogo {
    height: 3rem;
}

.nav {
    position: absolute;
    left: 10%;
    width: 80%;
    display: flex;
    justify-content: center;
    z-index:3;
    font-family: "Oxanium";
}

.nav ul {
    display: flex;
    list-style-type: none;
}

.nav li:hover {
    cursor: pointer;
}

.nav li {
    position: relative;
    padding: 0.4rem 0.8rem;
    font-size: 1.0em;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav li:hover a:not(.active) {
    color: #48ebdf;
    transform:scale(1.9)
}
.nav .active {
    font-weight: bolder;
}

/* hide the burger on big screens*/
.burger {
    display:none
}

/* media stuff */
@media only screen and (max-width: 1024px) {
    .burger {
        color: white;
        font-size: 3em;
        display: flex;
        justify-content: center;
        position: absolute;
        top: -3.25rem;
        width: 80px;
        right: 0;
        user-select: none;
    }

    /* Vertical nav */
    .nav {
        display: flex;
        justify-content: right;
        background: rgba(30, 30, 30, 0.9);
        top: -1000%;
        width: 100%;
        z-index: 3;
        left: 0;
        text-align: right;
        padding-right: 20px;
        line-height: 1.8em;
    }

    .nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
    }

    .nav li {
        padding: 0 0;
    }

    .nav-active {
        top: 4rem;
    }
}

main {
    display: flex;
    flex: auto;
    overflow-y: auto; /* add this to scroll*/
    min-height: calc(100vh - 4rem);
    flex-direction: column;
}

/* media stuff */
@media only screen and (max-width: 640px),
    only screen and (max-width: 768px),
    only screen and (max-width: 1024px) {
    .main {
        padding-left: 20px;
        padding-right: 20px;
    }
}


.article {
    max-width: 1000px;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: rgba(40, 0, 0, 0.7);
    color: white;
    opacity: 0.9;
    border-radius: 30px;
    padding: 1rem;
}

.article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
    font-family: "Oxanium";
    line-height: 1;
}

article h3 {
    text-indent: 0.5em;
}

.article p {
    margin-bottom: 15px;
    margin-left: 0.5em;
    line-height: 1.3;
}

.article pre {
    white-space: pre-wrap;       /* css-3 */
    margin-bottom: 15px;
    line-height: 1.3;
    text-indent: 0.5em;
}

.article a {
    text-decoration: none;
    font-weight: bold;
    color: #88cff1;;
}

.platforms {
    font-style: italic;
}

table.timetable {
    line-height: 1.3;
    padding: 0.5em;
}

table.timetable td {
    vertical-align: top;
    padding: 0.2em 0.5em;
}

.no-wrap {
    white-space: nowrap;
}

.centred {
    text-align: center;
}
    
.article ul {
    line-height: 1.3;
    padding-left: 1.5em;
}

.article li {
    padding: 0.5em;
    list-style-image: url('../img/lovebyte-icon-bullet.png');
}

hr {
    height: 12px;
    border: none;
    background-image: url('../img/lovebyte-icon-bullet.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 2em 0 2em 0;
}